* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
}

p,
h1,
h2,
label,
div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

.title {
  margin-bottom: 100px;
  text-decoration: none;
  text-align: center;
}

.taskAdder {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.addTaskInput {
  color: rgb(37, 37, 37);
  max-width: 100%;
  width: 100%;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: 3px solid #b0b0b0;
}

.addTaskInput::placeholder {
  color: #b0b0b0;
  opacity: 1; /* Firefox */
}

.errorInput {
  border-color: rgb(216, 89, 89);
  color: red;
}

.errorInput::placeholder {
  color: rgb(194, 127, 127);
}
.addTaskInput:focus {
  border: 0;
  color: rgb(37, 37, 37);
}

.btnAddTask {
  outline: none;
  background-color: #89d7ad;
  border: 3px solid #51af7c;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 8px;
}
.task {
  display: flex;
  justify-content: space-between;
}

.taskList {
  margin-top: 20px;
}

.task div {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.statistica {
  margin-top: 60px;
  color: #b0b0b0;
}
.statistica p {
  text-align: right;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox .input-assumpte {
  display: none;
}
label {
  position: relative;
  margin-left: 25px;
}
label::before {
  position: absolute;
  background-color: #fafafa;
  border: 3px solid #cacece;
  border-radius: 5px;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 14px;
  height: 14px;
  content: "";
  top: 0;
  left: -25px;
}
.input-assumpte:checked + label::before {
  background-color: #56b8ff;
  border: 0;
  width: 20px;
  height: 20px;
}

.taskList h2 {
  margin-bottom: 10px;
  margin-top: 35px;
}

.mobile {
  display: none;
}
@media only screen and (max-width: 450px) {
  .container {
    padding: 35px;
    max-width: 440px;
  }
  .title {
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    font-size: 22px;
  }
  p,
  label,
  div {
    font-size: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    font-size: 26px;
    margin-bottom: 50px;
  }
  .taskAdder {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}

.taskAdder div {
  width: 100%;
}
